.create{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .create button{
    width: 100%;
    margin: 1rem;
  }
  
  .container {
      width: 90%;
      margin-right: auto;
      margin-left: auto;
    }
  table{
      width: 100%;
  }
  
  #edit{
    color:blueviolet;
  }